/* Page elements */

body{
text-align: center;
}

input{
width: 300px;
height: 30px;
border-radius: 20px;
margin: 20px 20px;
opacity: 0.5;
}

input:focus{
opacity: 1;
}

input[type="text"] {
font-size: 16px;
background-color: #e8eeef;
box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

::placeholder{
font-size: 16px;
padding: 10px;
}


/* Page Layout */

.img{
display: inline-block;
padding: 15px;
}

.wrapper{
display: inline-block;
}
